@model gestaoIpg.Models.Cargo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">

        <h2>Novo Cargo</h2>

        <!--<h4>Departamento</h4>-->

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NomeCargo" class="control-label">Nome de Cargo</label>
                        <input asp-for="NomeCargo" class="form-control" />
                        <span asp-validation-for="NomeCargo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Criar" class="btn btn-success" />
                        &nbsp;
                        <a asp-action="Index" class="btn btn-link" style="color:black">Voltar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
