@model gestaoIpg.Models.Cargo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">

        <h2>Editar</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CargoId" />
                    <div class="form-group">
                        <label asp-for="NomeCargo" class="control-label">Nome de Cargo</label>
                        <input asp-for="NomeCargo" class="form-control" />
                        <span asp-validation-for="NomeCargo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        &nbsp;
                        <a asp-action="Index" class="btn btn-link" style="color:black">Voltar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
