@model gestaoIpg.Models.Departamento

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Eliminar</h2>

    <div>
        <h4>Deseja eliminar este Departamento?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="DepartamentoId" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Voltar</a>
        </form>
    </div>
</div>
