@page
@model PersonalDataModel 
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <h5>Your account contains personal data that you have given us. This page allows you to download or delete that data.</h5>
        <p>
            <h5>Deleting this data will permanently remove your account, and this cannot be recovered.</h5>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        
        @if (User.IsInRole("admin")) { 
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
        </p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}